html {
    height:100%;
    margin: 0;
    padding: 0;
}
header{
    position:fixed;
    font-size: larger;
    background-color: black;
    color: white;
    width: 100%;
    top: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    border: 1px;
    border-color: white;
    border-style: solid;
}
h2{
    background: #0b082e;
    background: radial-gradient(circle,rgba(11, 8, 46, 1) 0%, rgba(32, 43, 71, 1) 87%, rgba(15, 43, 59, 1) 100%);
    border-style: inset;
    border-width: 5px;
    color: white;
}
.lien{
    color: white;
    text-decoration:none;
}
body{
    font-family: Verdana;
    background: #2b275c;
    background: radial-gradient(circle,rgba(43, 39, 92, 1) 0%, rgba(39, 68, 135, 1) 87%, rgba(37, 84, 110, 1) 100%);
    color: rgb(255,255,255);
    margin: 0;
    padding: 0;
    padding-bottom: 4em;
    text-align: center;
}
.Projets{
    padding-top: 5px;
}
.Projet{
    background: #0b082e;
    background: radial-gradient(circle,rgba(11, 8, 46, 1) 0%, rgba(32, 43, 71, 1) 87%, rgba(15, 43, 59, 1) 100%);
    text-align: left;
}
.Contenu {
    padding-inline: 2em;
}
h2 {
    text-align: center;
}
.Media{
    text-align: center;
}
.Presentation a{
    padding-inline: 2em;
    display: block;
    text-align: left;
}
.Parcours a{
    padding-inline: 2em;
    display: block;
    text-align: left;
}
.Contact{
    margin: auto;
    margin-top: 15%;
    padding-left: 100px;
    width: 300px;
    text-align: left;
}
.imagecontact{
    vertical-align: middle;
    display: inline-block;
    margin-right: 50px;
}
.contacts{
    color: black;
    text-decoration: none;
}
li{
    list-style-type: none;
}
footer {
    position: fixed;
    bottom: 0;
    background-color: black;
    width: 100%;
    text-align: center;
    color: white;
    border: 1px;
    border-color: white;
    border-style: solid;
}