html{
    box-sizing:border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    min-width:100%
}

header{
    position:fixed;
    font-size: larger;
    background-color: black;
    color: white;
    width: 100%;
    top: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    border: 1px;
    border-color: white;
    border-style: solid;
    display: block;
    box-sizing: inherit;
}
h1{
    display:block;
    box-sizing: inherit;
    margin-top: 3em;
}
h2{
    text-align: center;
    background: #0b082e;
    background: radial-gradient(circle,rgba(11, 8, 46, 1) 0%, rgba(32, 43, 71, 1) 87%, rgba(15, 43, 59, 1) 100%);
    border-style: inset;
    border-width: 5px;
    color: white;
    display: block;
    padding: 0;
    margin: 0;
}
.lien{
    color: white;
    text-decoration:none;
}
body{
    font-family: Verdana;
    background: rgb(30,30,80);
    color: rgb(255,255,255);
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 100%;
    margin: 0;
    box-sizing: inherit;
}
.Presentation{
    display:block;
    box-sizing: inherit;
}
.Parcours{
    display:block;
    box-sizing: inherit;
}
.Accueil{
    background: #2b275c;
    background: radial-gradient(circle,rgba(43, 39, 92, 1) 0%, rgba(39, 68, 135, 1) 87%, rgba(37, 84, 110, 1) 100%);
    box-sizing: inherit;
}
.Projets{
    background: #2b275c;
    background: radial-gradient(circle,rgba(43, 39, 92, 1) 0%, rgba(39, 68, 135, 1) 87%, rgba(37, 84, 110, 1) 100%);
}
.Projet{
    padding-bottom: 1em;
    background: #0b082e;
    background: radial-gradient(circle,rgba(11, 8, 46, 1) 0%, rgba(32, 43, 71, 1) 87%, rgba(15, 43, 59, 1) 100%);
    text-align: left;
}
.Contenu {
    padding-top: 1em;
    padding-inline: 2em;
}
.Media{
    text-align: center;
}
.Contact{
    margin: auto;
    margin-top: 8%;
    margin-bottom: 8%;
    padding: 3em;
    text-align: left;
    background: #0b082e;
    background: radial-gradient(circle,rgba(11, 8, 46, 1) 0%, rgba(32, 43, 71, 1) 87%, rgba(15, 43, 59, 1) 100%);
    border-style: inset;
    border-width: 5px;
    width: 500px;
    display: block;
    position: relative;
    box-sizing: inherit;
}
.imagecontact{
    vertical-align: middle;
    display: inline-block;
    margin-right: 50px;
}
.contacts{
    color: white;
    text-decoration: none;
}
li{
    list-style-type: none;
}
footer {
    background-color: black;
    text-align: center;
    color: white;
    border: 1px;
    border-color: white;
    border-style: solid;
    margin-top: auto;
    display: block;
    width: 100%;
    box-sizing: inherit;
}

@media (hover: hover) {
    .lien{
        color:red;
    }
}

@media screen and (max-width: 800px) {
  body{
    font-size: 25px;
  }
}